<nav>
    <div class="principal">
        <div class="logo-pagina">
            <a routerLink="/"><img class="logo" src="assets/logo.png"></a>
        </div>
        <div class="abas-pagina">
            <a routerLink="/">Produtos</a>
            <a routerLink="/">Orçamentos</a>
            <a routerLink="/">Vendas</a>
            <a routerLink="/">Sistema</a>
        </div>
        
        <div class="espacador"></div>
        <div class="icone-usuario">
            <a routerLink="/">
                <i class="fas fa-user-circle"></i>
                Sair
            </a>
        </div>
    
    </div>
    
</nav>