.produtos {
  max-width: 80%;
  margin-right: 20px;
  padding-right: 20px;
  padding-top: 80px;
}

.field {
  margin-left: 15px;
  padding-left: 0px;
}

.codBarras {
  width: 300px;
}

.nome {
  padding-right: 0px;
  width: 100%;
}

.linhas {
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
}

.descricao {
  width: 100%;
}

p-dropdown{
  width: 250px;
  display: inline-grid;
}

input {
  width: 100%;
}

h4 {
  margin-bottom: 2px;
  margin-top: 10px;
}

section{
  margin: auto;
  margin-top: 10px;
}

tr{
  cursor: pointer;
}

.button-salvar{
  width: 120px;
  align-self:flex-end;
  margin-right: 10px;
}

.button-limpar{
  width: 120px;
  margin-right: 20px;
}

.acoes-botao{
  width: auto;
  align-self:flex-end;
  align-content: flex-end;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 20px;
}
